.swiper-container {
  width: 100%;
  height: 500px;
  position: relative;
}

.swiper-slide {
  z-index: 0;
}

.header-top {
  height: 80px !important;
  width: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 5px;
  z-index: 2;
}

.header-top .logo {
  width: 15%;
  height: 90%;
  border: black solid 2px;
}

.header-top .menu {
  width: 70%;
  height: 100%;
  border: black solid 2px;
  margin-left: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-top .rigth-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1%;
  width: 15%;
}

.header-top .rigth-menu img {
  width: 35px;
  height: 35px;
}

.header {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  height: 600px;
  background-image: url("https://picsum.photos/1800/600?grayscale");
  background-repeat: no-repeat;
  color: white;
}

.header a {
  -webkit-text-decoration-color: white;
          text-decoration-color: white;
  -moz-text-decoration-color: white;
  color: white;
}

.header h1 {
  text-align: center;
  padding-top: 200px;
  margin: 0 auto;
}

@media screen and (min-width: 1800px) {
  .header {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    height: 500px;
    background-image: url("https://picsum.photos/2800/500?grayscale");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.corpo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.corpo-container .left-container {
  padding: 20%;
  height: 500px;
  background: whitesmoke;
}

.corpo-container .left-container h2 {
  text-align: left;
  word-break: keep-all;
}

.corpo-container .left-container p {
  text-align: left;
  padding-top: 10%;
  width: 80%;
  word-break: keep-all;
}

.corpo-container .left-container button {
  color: white;
  background-color: black;
  margin: 0 auto;
  padding: 10px;
  width: 200px;
  margin-top: 10%;
}

.corpo-container .left-container2 {
  padding: 20%;
  height: 500px;
  background: white;
}

.corpo-container .left-container2 h2 {
  text-align: left;
}

.corpo-container .left-container2 p {
  text-align: left;
  padding-top: 10%;
  width: 80%;
  word-break: keep-all;
}

.corpo-container .left-container2 button {
  color: white;
  background-color: black;
  margin: 0 auto;
  padding: 10px;
  width: 200px;
  margin-top: 10%;
}

.corpo-container .rigth-container {
  width: 100%;
  min-height: 600px;
  max-height: 100%;
  float: right;
  background-color: white;
  display: block;
}

.corpo-container .rigth-container .img-tamanho1 {
  position: relative;
  float: right;
  width: 45%;
  top: 10%;
  height: 500px;
  z-index: 2;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 40%;
}

.corpo-container .rigth-container .img-tamanho2 {
  position: relative;
  top: -490px;
  width: 65%;
  height: 500px;
  left: 25%;
  z-index: 2;
  -webkit-filter: grayscale(70%);
          filter: grayscale(70%);
}

.corpo-container .rigth-container .img-tamanho3 {
  position: relative;
  top: -450px;
  width: 95%;
  height: 520px;
  left: -70%;
  z-index: 2;
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
}

.corpo-container .rigth-container .img-tamanho4 {
  position: relative;
  top: -600px;
  width: 100%;
  height: 650px;
  z-index: 2;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.products-container {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: wheat;
}

.products-container h2 {
  margin: 0 auto;
}

.products-container .products-list-container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.products-container .single-product-container {
  width: 20%;
  min-height: 400px;
  max-height: 100%;
  display: block;
}

.products-container .product {
  display: block;
  text-align: center;
  height: 100%;
}

.products-container .img-div {
  width: 100%;
  height: 100%;
  background-image: url("https://picsum.photos/200/200?random=5");
  background-size: cover;
}

.products-container .img-div p {
  position: relative;
  bottom: -80%;
  font-size: 20px;
  color: white;
}

.products-container .nome-produto {
  width: 100px;
  height: 100%;
  margin: 0 auto;
  padding: 2%;
}

button {
  width: 100%;
  padding: 4%;
  margin-top: 60px;
}
/*# sourceMappingURL=index.css.map */